.digits {
  /* display: flex;
  flex-direction:column;
  align-items: center; */
  width:1100px;
  /* justify-content:center; */
  /* justify-self: center; */
  margin: 100px auto;

  border:1px solid red;
}

.table {
  display: flex;
  flex-direction: row;
  align-self:flex-end;
  justify-content:space-between;
  /* align-self:center; */
  flex-wrap:wrap;
}
.table__cell {
  margin-top: 60px;
  width:250px;
}
.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight:700;
  margin: 0 0 0;
}
.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 20px 0 0;
}
