.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  /* font-family: "Inter", cursive; */
}

/* div,h1,h2,h3,p,ul,li,section,a,img,nav,blockquote  {
  border:1px solid red;
} */
