.kaufman {
  border:1px solid red;
  /* margin: 0 auto; */
  padding: 90px 0;
  background-color: #1f1f1f;
}
.section-title_theme_dark {
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
  /* text-align: center;
  width:60%;
  font-size: 24px;
  line-height: 34px; */
  /* margin: auto; */
}
.table_theme_dark {
  display: flex;
  flex-direction: row;
  align-self:flex-end;
  justify-content:space-between;
  flex-wrap:wrap;
  width:1100px;
  margin: auto;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark {
  /* font-size: 24px;
  line-height: 1.15;
  font-weight:700;
  margin-bottom: 0px; */
}
.table__text_theme_dark {
  /* font-size: 18px;
  line-height: 1.2;
  margin-top: 20px; */
}
