.footer {
  padding: 60px 0 40px;
  background-color: #1f1f1f;
    /* border:1px solid red; */
}
.footer__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 250px;
  width: 90%;
  color: white;
  margin: auto;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.logo_place_footer{
  /* border:1px solid red; */
  width: 228px;
  height: 32px;
  background-image: url(/images/logo_place_footer.svg);
}
.footer__author {
  font: 18px;
  line-height: 25px;
  color: white;
  text-decoration: none;
  padding: 18px 0 18px;
}
.footer__column-heading {
  justify-self:start;
  font: 18px;
  line-height: 1;
  font-weight:700;
  margin: 0 0 20px;
}
.footer__column-links {
  margin: 0 0 16px;
  padding: 0;
}
.footer__column-link {
  /* border:1px solid red; */

  display: flex;
  flex-direction: row;
  font: 18px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  margin: 0 0 10px 0;
}
.footer__column-link:last-of-type {
  margin: 0 0 16px 0;
}
.footer__social-icon {
  min-width: 16px;
  min-height: 16px;
  margin: 2px 5px 0 0;
}
