.footer {
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
}
.footer__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  color: white;
  margin: auto;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.logo_place_footer{
  border:1px solid red;
  width: 228px;
  height: 32px;
  background-image: url(/images/logo_place_footer.svg);
}
.footer__author {
  font: 18px;
  line-height: 25px;
  color: white;
  text-decoration: none;
  padding: 18px 0 18px;
}
.footer__column-heading {
  font: 18px;
  line-height: 1;
  font-weight:700;
  margin: 0 auto 20px;
}
.footer__column-links {
  font: 18px;
  line-height: 18px;
  margin: 0 0 16px;
}
.footer__social-icon {

}
.footer__column-link {

}

